<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Details : NatureSovagen</title>
    <!-- CSS Links -->
    <link rel="stylesheet" href="/css/ContactData.css" />
    <link rel="stylesheet" href="/css/adNav.css" />
  </head>
  <body>
    <nav class="admin-navbar">
      <h1 class="dash-h1">Nature Sovageon</h1>

      <ul class="nav-list">
        <a class="nav-link" href="/api/dashboard">Home</a>
        <a class="nav-link" href="/api/products-dashboard">Products</a>
        <a class="nav-link" href="/api/quotes/bookings-data">Bookings</a>
        <a class="nav-link" href="/api/contact/contacts-data">Contact Data</a>

        <button id="logout" class="logout-btn">
          Logout
          <i class="fa fa-arrow-circle-right" style="font-size: 16px"></i>
        </button>
      </ul>
      <button id="menuBtn" class="menuBtn">
        <i class="fa-solid fa-bars" style="font-size: 24px"></i>
      </button>
    </nav>

    <div class="container">
      <h2>Booking Summary</h2>
      <table>
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Location</th>
            <th>Subject</th>
            <th>Message</th>
            <th>View Data</th>
          </tr>
        </thead>
        <tbody id="table-body"></tbody>
      </table>

      <!-- <div class="buttons">
          <button id="view-all-data" class="view-btn">View All Data</button>
        </div> -->
    </div>

    <script src="/scripts/ContactData.js"></script>
    <script src="/scripts/AdNav.js"></script>
    <script
    src="https://kit.fontawesome.com/e24141db11.js"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
