<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard : NatureSovagen</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/adNav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="admin-navbar">
      <h1 class="dash-h1">Nature Sovageon</h1>

      <ul class="nav-list">
        <a class="nav-link" href="/api/dashboard">Home</a>
        <a class="nav-link" href="/api/products-dashboard">Products</a>
        <a class="nav-link" href="/api/quotes/bookings-data">Bookings</a>
        <a class="nav-link" href="/api/contact/contacts-data">Contact Data</a>

        <button id="logout" class="logout-btn">
          Logout
          <i class="fa fa-arrow-circle-right" style="font-size: 16px"></i>
        </button>
      </ul>
      <button id="menuBtn" class="menuBtn">
        <i class="fa-solid fa-bars" style="font-size: 24px"></i>
      </button>
    </nav>

    <h1 class="htag">NatureSovagen Admin Dashboard</h1>

    <main aria-label="Hero Banner">
      <div class="cards-container">
        <div class="each-card">
          <div class="icon-body">
            <i class="fa-solid fa-lemon"></i>
          </div>
          <div class="card-body">
            <h2>Total Products</h2>
            <p id="products"></p>
          </div>
        </div>
        <div class="each-card">
          <div class="icon-body">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="card-body">
            <h2>Number of Contacts</h2>
            <p id="contacts"></p>
          </div>
        </div>
        <div class="each-card">
          <div class="icon-body">
            <i class="fa-solid fa-globe"></i>
          </div>
          <div class="card-body">
            <h2>Total Order Bookings</h2>
            <p id="orders"></p>
          </div>
        </div>
      </div>
    </main>

    <script src="/scripts/Dashboard.js"></script>
    <script src="/scripts/AdNav.js"></script>

    <script
      src="https://kit.fontawesome.com/e24141db11.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
