<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Detail : NatureSovagen</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/SingleQuote.css" />
    <link rel="stylesheet" href="/css/AdNav.css" />
  </head>
  <body>
    <nav class="admin-navbar">
      <h1 class="dash-h1">Nature Sovageon</h1>

      <ul class="nav-list">
        <a class="nav-link" href="/api/dashboard">Home</a>
        <a class="nav-link" href="/api/products-dashboard">Products</a>
        <a class="nav-link" href="/api/quotes/bookings-data">Bookings</a>
        <a class="nav-link" href="/api/contact/contacts-data">Contact Data</a>

        <button id="logout" class="logout-btn">
          Logout
          <i class="fa fa-arrow-circle-right" style="font-size: 16px"></i>
        </button>
      </ul>
      <button id="menuBtn" class="menuBtn">
        <i class="fa-solid fa-bars" style="font-size: 24px"></i>
      </button>
    </nav>

    <div class="container-contact">
      <h2>Inquiry Details</h2>
      <div id="details"></div>
    </div>
    <script src="/scripts/SingleQuote.js"></script>
    <script src="/scripts/AdNav.js"></script>
  </body>
</html>
